

<section>
    <h1>All Patients</h1>
    <table class="patientTable">
        
        <tr>
            <th>
                Fullname
            </th>
            <th>
                Email
            </th>

            <th>
                Mobile
            </th>
            
            <th>
                Settings
            </th>
        </tr>
        
       

    </table>
</section>