<table class="register" style="width: 900px;">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <img src="../../Images/2.png"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article style="width: 400px;">
                            Clinic Metrics is not just another Hospital Management Platform.
                            Its a data driven patient first platform. Designed just for you and 
                            your clinic. <br />
                            Get Started
                        </article> 
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <img src="../../Images/7(1).png" style="float: right; cursor: pointer" id="backBtn" />
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td style="font-size: 20px; color:dodgerblue">
                        Create
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Clinic Name" id="clinicName"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Admin's Fullname" id="adminFullname"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Admin's Username" id="adminUsername"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password"  id="adminPassword" placeholder="Admin's Password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" placeholder="Email Address" id="adminEmail"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Mobile number eg 23480XXXXXX" id="adminPhone"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="submit" id="btnClinicRegister" />
                        <img src="../../Images/ajax-loader (6).gif" style="display:none" id="ajaxLoader"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>