

<h1>Search results</h1>

<table>
    <tr>
        <td>
            Fullname :
        </td>
        
        <td >
            <label id="search_fullname"></label>
        </td>
    </tr>
    
    <tr>
        <td>
            Email Address:
        </td>
        
        <td>
            
        </td>
    </tr>
    <tr>
        <td>
            Address :
        </td>
        
        <td>
            
        </td>
    </tr>
    <tr>
        <td>Next Appointment</td>
        <td>
            <input type="datetime-local"  />
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="schedule"/>
        </td>
        <td>
            <input type="submit" value="clear"/>
        </td>
    </tr>
</table>