<script src="~/Scripts/js-image-slider.js"></script>
<link href="~/Content/js-image-slider.css" rel="stylesheet" />

<section>
     
    <div id="sliderFrame">
        <div id="slider">
            <a href="http://www.menucool.com/javascript-image-slider" target="_blank">
              <img src="../../Images/image-slider-4.jpg" alt="#htmlcaption" />
            </a>
            <img src="../../Images/image-slider-3.jpg" alt="" />
            <img src="../../Images/image-slider-5.jpg" alt="Pure Javascript. No jQuery. No flash." />
            <img src="../../Images/image-slider-4.jpg" alt="#htmlcaption" />
            <img src="../../Images/image-slider-5.jpg" />
        </div>
        <div id="htmlcaption" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
    </div>

   
</section>